@media(min-width:576px){
    main section{
        padding: 140px 0;
    }

}

@media(min-width:768px){
    h2{
        font-size: 50px;
    }
    main section{
        padding: 170px 0;
    }
    .navbar-nav .nav-item.active .nav-link,
    .navbar-nav .nav-item .nav-link:hover{
        background: transparent;
        color: #fff;
    }
    h1{
        font-size: 60px;
    }
    .parallax p{
        max-width: 65%;
    }
    .achievements .achievements-wrapper{
        margin-bottom: 100px;
    }
    .achievements .quote-wrapper{
        max-width: 65%;
    }
    footer{
        padding: 50px 0;
    }
}


@media(min-width:992px){

    html{
        font-size: 16px;
    }
    h2{
        font-size: 60px;
    }
    main section{
        padding: 200px 0;
    }
    h1{
        font-size: 80px;
    }
    .achievements .achievements-wrapper{
        margin-bottom: 150px;
    }
    
}

@media(min-width:1200px){
    main section{
        padding: 300px 0;
    }
    
    

}
