

/*    font-family: 'Poppins', sans-serif;

    font-family: 'Roboto', sans-serif;*/




html{
    font-size: 14px;
}
p{
    font-family: 'Roboto', sans-serif;  
    color: #b1b1b1;
}
body{
    font-family: 'Roboto', sans-serif; 
    color: #222222;
}
img{
    max-width: 100%;
}
h2{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
h4{
    font-size: 20px;
}
main section{
    padding: 100px 0;
}
.btn {
    padding: 0.375rem 1.2rem;
}
.btn-outline-warning:hover {
    color: #fff;
}
/*Header Start*/

header {
    background-color: rgba(0,0,0,0.2);
    padding: 25px 0;
}
.navbar .navbar-brand{
    font-weight: bold;
}
.navbar .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);    
    border-color: rgba(255, 255, 255, 0.6);
    transition: 0.5s ease;
}
.navbar .navbar-toggler:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}
.navbar .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); 
}
.navbar .navbar-toggler:hover .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); 
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item .nav-link:hover{
    background: #fff;
    color: #000;
}
.navbar .nav-item{
    text-align: center;
}

/*Lead Section*/
.lead-section h1{
    font-size: 50px;
}
.lead-section::after,
.video::after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    content: "";
    background-size: 100% 100%;
    background-image: url('../img/trougao-04.png');
}

/*About Us*/
.about-us h2{
    font-family: 'Poppins', sans-serif;
}

/*Video*/

.video h4{
    color: #222222;
    font-family: 'Poppins', sans-serif;
}
.video::before{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    content: "";
    background-size: 100% 100%;
    background-image: url('../img/trougao-02.png');
}

/*Team*/
.team article figure{
    width: 250px;
    height: 250px;
    overflow: hidden;
}
.team .social-hover{
    width: 220px;
    height: 220px;
    top: 0;
    left: 15px;
    border-radius: 50%;
    display: none;
    line-height: 220px;
    transition: 0.5s ease;
}
.team article:hover .social-hover{
    display: block;
}
.team .social-hover .fa{
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
    line-height: 40px;
}
.team .social-hover .fa:hover{
    background: #fff;
    color: #ffc107;
    transform: rotate(360deg);
    transition: 0.6s linear;
}

/*Parallax*/
.parallax::before{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    content: "";
    background-size: 100% 100%;
    background-image: url('../img/trougao-01.png');
}
.parallax {
    background-attachment: fixed;
}
.parallax h4{
    font-family: 'Poppins', sans-serif;
}
.parallax .btn {
    padding: 0.375rem 1.2rem;
    color: #ffc107;
}
.parallax::after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    content: "";
    background-size: 100% 100%;
    background-image: url('../img/trougao-03.png');
}

/*Principles*/

