

/*    font-family: 'Poppins', sans-serif;

    font-family: 'Roboto', sans-serif;*/




html{
    font-size: 14px;
}


img{
    max-width: 100%;
}
h2{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}
h4{
    font-size: 20px;
}